<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
        <!-- Connection used to create test database during test run -->
        <add name="setup" connectionString="Server=(localDB)\v11.0;Initial Catalog=master;Integrated Security=SSPI" />
		<add name="core" connectionString="Server=(localDB)\v11.0;Initial Catalog=TinyNH.DemoStore.IntegrationTests;Integrated Security=SSPI" />
	</connectionStrings>
</configuration>