<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
        <!-- Connection used to create local development database -->
		<add name="localdevsetup" connectionString="Data Source=(localDB)\v11.0;Integrated Security=SSPI" />
		<add name="main" connectionString="Data Source=(localDB)\v11.0;Initial Catalog=TinyNH.DemoStore.Dev;Integrated Security=SSPI" />
	</connectionStrings>
    <appSettings>
        <add key="Environment" value="Dev" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>